<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.tit.role.Idao.IRoleDao">
	<!-- Role_user结果集映射 -->
	<resultMap type="cn.edu.tit.role.bean.Role" id="role_user">
		<id column="role_id" property="role_id" />
		<collection property="teacherList"  resultMap="cn.edu.tit.user.Idao.IUserDao.teacher" />
	</resultMap>
	<!-- 根据条件查询角色信息 -->
	<select id="findRoleByCondition" parameterType="java.lang.String" resultType="cn.edu.tit.role.bean.Role">
		<!-- select * from ceptp_role
		<where><if test="role_id != null and role_id !=''">
			and role_id = #{role_id}
		</if>
		<if test="parent_role_id != null and parent_role_id !=''">
			and parent_role_id = #{parent_role_id}
		</if></where>	   -->
		select * from ceptp_role o,ceptp_role_user u
		where
		o.role_name Like CONCAT(#{role_name}, '%')
		AND
		o.parent_role_id = u.role_id and u.user_id = #{user_id}
	</select>
	
	<!-- 通过角色id查询某角色的用户信息 -->
	<select id="findRoleById" parameterType="java.lang.String" resultMap="role_user">
		select * from ceptp_role_user ru,ceptp_staff staff where ru.user_id = staff.staff_id and ru.role_id = #{role_id};
	</select>
	
	<!-- 通过父角色id查找其已有子角色数量 -->
	<select id="findChildRoleNumById" parameterType="java.lang.String" resultType="int">
		select count(*) from ceptp_role where parent_role_id = #{parent_role_id};
	</select>
	
	<!-- 向数据库中保存role -->
	<insert id="addRole" parameterType="java.util.HashMap">
		insert into ceptp_role(role_id,role_name,parent_role_id,create_user,create_time,update_user,update_time,delete_flg)
		values (#{role_id},#{role_name},#{parent_role_id},#{create_user},now(),#{create_user},now(),0);
	</insert>
	
	<!-- 向数据库中保存role-privilege关系 -->
	<insert id="addRolePrivilege" parameterType="java.util.HashMap">
		insert into ceptp_role_privilege(role_id,privilege_id,create_user,create_time,update_user,update_time)
		values (#{role_id},#{privilege_id},#{create_user},now(),#{create_user},now());
	</insert>
	
	<!-- 获得所有子角色id -->
	<select id="getAllChildRoleId" parameterType="java.lang.String" resultType="java.lang.String">
		select role_id from ceptp_role where role_id like CONCAT(#{role_id}, '%');
	</select>
	
	<!-- 根据id删除权限 -->
	<delete id="delRolePrivilegeById">
		delete from ceptp_role_privilege where role_id = #{role_id} and privilege_id = #{privilege_id};
	</delete>
	
	<!-- 为角色绑定用户 -->
	<insert id="addUserForRole" parameterType="java.util.HashMap">
		insert into ceptp_role_user(role_id,user_id,create_user,create_time,update_user,update_time)
		values (#{role_id},#{user_id},#{create_user},now(),#{create_user},now());
	</insert>
	
	<!-- 为角色解绑用户 -->
	<delete id="delUsersOfRole" parameterType="java.util.HashMap">
		delete from ceptp_role_user where role_id=#{role_id} and user_id=#{user_id};
	</delete>
	
	<!-- 查询所有角色 -->
	<select id="findAllRole" resultType="cn.edu.tit.role.bean.Role">
		select * from ceptp_role;
	</select>
	
	<!-- 查询某角色子角色 -->
	<select id="findAllChildRole" parameterType="java.util.HashMap" resultType="cn.edu.tit.role.bean.Role">
		select * from ceptp_role where parent_role_id = #{role_id} limit #{offset},#{pc};
	</select>
	
	<!-- 得到角色的权限id集 -->
	<select id="findPrivilegeIdByRid" parameterType="java.lang.String" resultType="int">
		select privilege_id from ceptp_role_privilege where role_id=#{role_id};
	</select>
	
	<!-- 通过权限id得到权限 -->
	<select id="findPrivilegeByPid" parameterType="int" resultType="cn.edu.tit.role.bean.Privilege">
		select * from ceptp_dic_privilege where privilege_id = #{privilege_id}
	</select>
	
	<!-- 修改角色名 -->
	<update id="updateRoleName" parameterType="java.util.HashMap">
		update ceptp_role set role_name=#{role_name},update_user = #{update_user},update_time=now() where role_id=#{role_id};
	</update>
</mapper>